<!DOCTYPE html>
<html>
    <%- include("partials/head.ejs") %>
  <body>
    <h1>Welcome to the Pokedex</h1>
    
     <nav>
     <h1>Click on one below OR
         <a href="/new">Add a Pokemon</a>
     </h1>
    </nav>
    
     <h2> 
    <ul>
      <% for( let i = 0; i < 5; i++) { %>
 
        <a href="/<%=i%>"><img src="<%= allPokemon[i].img %>"></a>    
      
        <form>
            <form action="/pokemon/<%=i; %>?_method=DELETE" method="POST"></form>
        </form>
      <% } %>
       
    </ul>
    </h2>
  </body>
</html>